{% load static %}

<!doctype html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Business Lunch</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.21.custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/application-mean-green.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">

    <script src="{% static 'js/modernizr-2.5.3.min.js' %}"></script>

</head>
<body>
<div id="wrapper">
    {% block nav_bar %}
    <div id="header">
            <div class="container">
                <a href="{% url 'home' %}" class="brand"><span></span></a>

                <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-reorder"></i>
                </a>

                <div class="nav-collapse">
                    <ul id="main-nav" class="nav pull-right">
                        <li class="nav-icon">
                            <a href="{% url 'home' %}">
                                <i class="icon-home"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="">
                                <i class="icon-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="{% url 'logout' %}">
                                <span>Logout</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}


    <div id="masthead">
        <div class="container">
            <div class="masthead-pad">
                <div class="masthead-text">
                    <img style="float: left;" src="{% static 'img/blogo.png' %}">
                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>