{% extends 'base.html' %}

{% block content %}
<div class="span12">
    <legend>Select a Date</legend>
    <div class="control-group">
        <label class="control-label">Date:</label>
        <div class="controls">
            {{ form.date }}
        </div>
    </div>
    <legend>Upcoming Months</legend>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $(".datepicker").each(function( index ) {
            $(this).datepicker();
            });
    });

</script>
{% endblock %}
