{% extends 'base.html' %}

{% block content %}
<div class="span12">
    <legend>Calendar</legend>
    <div class="span5">
        <div id="calendar"></div>
    </div>
    <legend>Business Lunch Date  - {{ date }}</legend>

    <div class="span5">
        <table style="width:100%;table-layout: fixed;" class=" table table-bordered table-highlight">
        <caption class="text-left"><i class="icon-user"></i><h4>Opted In</h4></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Venue</th>
                    <th>Time</th>
                    <th>Join</th>
                </tr>
            </thead>
            <tbody>
                {% for opt_in in opted_in %}
                <tr>
                    <td>{{ opt_in.attendee }}</td>
                    <td>{{ opt_in.sug_location }}</td>
                    <td>{{ opt_in.sug_time }}</td>
                    <td><a href="{% url 'join' opt_in.id %}" class="btn btn-info">Join</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span5">
        <table style="width:50%;table-layout: fixed;" class="table table-bordered table-highlight">
            <caption class="text-left"><i class="icon-user"></i><h4>Opted Out</h4></caption>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for opt_out in opted_out %}
                <tr>
                    <td>{{ opt_out }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div class="span10">
    <legend>Opt In </legend>
    <div class="span4">
        <form method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">Location Suggestion:</label>
            <div class="controls">
                {{ form.sug_location }}
            </div>
        </div>
        <div class="conrol-group">
            <label class="control-label">Time Suggestion:</label>
            <div class="controls">
                {{ form.sug_time }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-info" type="submit">Opt In</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        weekends: false,
        height: 300,
        aspectRatio: 1,
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                window.location = '/' + date.toString()
            }
            $(this).css('background-color', 'red');
            }
    })

});
</script>
{% endblock %}