{% extends 'base.html' %}

{% block content %}
<div class="span12" style="margin-bottom: 50px;">
    <legend>Calendar {{ date|date:"SHORT_DATE_FORMAT" }}</legend>
    <div class="span5">
        <div id="calendar"></div>
    </div>

    <div class="span4 pull-right">
        <legend>Opt In </legend>
        <form method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">Location Suggestion:</label>
            <div class="controls">
                {{ form.sug_location }}
            </div>
        </div>
        <div class="conrol-group">
            <label class="control-label">Time Suggestion:</label>
            <div class="controls">
                {{ form.sug_time }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-info" type="submit">Opt In</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="span12">
    <legend>Business Lunch Date  - {{ date }}</legend>
    <div class="span5">
        <table style="width:100%;table-layout: fixed;" class=" table table-bordered table-highlight">
        <caption class="text-left"><i class="icon-user"></i><h4>Opted In</h4></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Venue</th>
                    <th>Time</th>
                    <th>Join</th>
                </tr>
            </thead>
            <tbody>
                {% for opt_in in opted_in %}
                <tr>
                    <td>{{ opt_in.attendee }}</td>
                    <td>{{ opt_in.sug_location }}</td>
                    <td>{{ opt_in.sug_time }}</td>
                    <td><a href="{% url 'join' opt_in.id %}" class="btn btn-info">Join</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span4 pull-right">
        <table style="width:50%;table-layout: fixed;" class="table table-bordered table-highlight">
            <caption class="text-left"><i class="icon-user"></i><h4>Donkeys</h4></caption>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for opt_out in opted_out %}
                <tr>
                    <td>{{ opt_out }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        weekends: false,
        height: 400,
        aspectRatio: 1,
        events: {{ events|safe }},
        dayClick: function(date, allDay, jsEvent, view) {
                    if (allDay) {
                        window.location = '/' + moment(date).format('YYYY-MM-DD')
                    }
                  },
        dayRender : function(date, cell){
            var date_sel = new Date('{{ date|date:"Y-m-d" }}');
            if (date.getDate() == date_sel.getDate()+1 && date.getMonth() == date_sel.getMonth()){
                cell.css("background-color", "red");
            }
        }
    })
    var date = new Date('{{ date|date:"Y-m-d" }}');
    $('#calendar').fullCalendar('gotoDate', date);
});
</script>
{% endblock %}